<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style2.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>
        <div class="form-container">
            <h2>Cadastro do Cliente</h2>
             <form id="frmClient" method="POST"  class="mt-2 row g-3">
                 <!-- Buscar cliente -->
            <div class="col-md-6">
                <input type="text" class="form-control" id="searchClient" maxlength="30" spellcheck="false">
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" id="btnRead" onclick="searchClient()">Buscar</button>
            </div>
                <hr class="mt-4 border border-secondary border -1">
                <!--nome-->
                 <div class="form-group">
                     <label for="nome">Nome Completo:</label>
                     <input type="text" class="form-control" id="inputNameClient" spellcheck="false"  maxlength="30" required>
                 </div>
                 <div class="mb-7">
                     <label for="cpf">CPF:</label>
                     <input type="text" class="form-control" id="inputCPFClient" spellcheck="false" maxlength="15" required>
                 </div>
                 <div class="mb-7">
                     <label for="email">E-mail:</label>
                     <input type="email" class="form-control" id="inputEmailClient" spellcheck="false" maxlength="30" required>
                 </div>
                 <div class="mb-7">
                     <label for="tele">Telefone:</label>
                     <input type="text" class="form-control" id="inputPhoneClient" spellcheck="false" maxlength="15" required>
                 </div>
                 <div class="mb-7">
                     <label for="endereco">Endereço:</label>
                     <input type="text" class="form-control" id="inputAddressClient" spellcheck="false" maxlength="30" required >
                 </div>
                 <div class="mb-7">
                    <input type="submit" value="Cadastrar">
                </div>

            </form>
        </div>
    </div>
    <script src="rendererCliente.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>
