<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordem de Serviço</title>
     <!-- Bootstrap -->
     <link rel="stylesheet" href="../public/css/bootstrap.min.css">
     <!-- CSS personalizado -->
     <link rel="stylesheet" href="../public/css/style2.css">
     <!-- impedir a execução de scripts externos ou não autorizados -->
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>
<body>
    <div class="container">
        <H1>Ordem de Serviço</H1>
    </div>
        <form class="mt-3 row g-3">
                <!-- Cliente -->
            <div class="col-md-6">
                <label for="inputClientName" class="form-label">Cliente</label>
                <input type="text" class="form-control" id="inputClientName" spellcheck="false" required maxlength="30">
            </div>

            <!-- Data de Entrada -->
            <div class="col-md-2">
                <label for="inputStartDate" class="form-label">Entrada em</label>
                <input type="date" class="form-control" id="inputStartDate" required>
            </div>

            <!-- Data de Retirada -->
            <div class="col-md-2">
                <label for="inputEndDate" class="form-label">Retirada em</label>
                <input type="date" class="form-control" id="inputEndDate">
            </div>

            <!-- Descrição do Serviço -->
            <div class="col-md-10">
                <label for="inputServiceDescription" class="form-label">Serviços a Realizar</label>
                <textarea class="form-control" id="inputServiceDescription" required maxlength="255"></textarea>
            </div>

            <!-- Responsável -->
            <div class="col-md-6">
                <label for="inputResponsible" class="form-label">Responsável pela Execução</label>
                <input type="text" class="form-control" id="inputResponsible" required maxlength="50">
            </div>
            
            <!-- Observações -->
            <div class="col-md-10">
                <label for="inputNotes" class="form-label">Observações</label>
                <textarea class="form-control" id="inputNotes" maxlength="500"></textarea>
            </div>

            <!-- Linha -->
            <hr class="mt-4 border border-secondary border -1"> 

            <!-- Status -->
            <div class="col-md-4">
                <label class="form-label">Status da OS</label>
                <select class="form-select" id="osStatus">
                    <option value="">Selecione</option>
                    <option>Aberta</option>
                    <option>Em andamento</option>
                    <option>Aguardando peças</option>
                    <option>Finalizada</option>
                    <option>Cancelada</option>
                </select>
            </div>
            
            <!--
            <div class="mb-3">
                <label class="form-label">Equipamento</label>
                <input type="text" class="form-control" id="txtOsEquip">
            </div>
            <div class="mb-3">
                <label class="form-label">Defeito</label>
                <input type="text" class="form-control" id="txtOsDef">
            </div>
            <div class="mb-3">
                <label class="form-label">Serviço</label>
                <input type="text" class="form-control" id="txtOsServ">
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Técnico</label>
                    <input type="text" class="form-control" id="txtOsTec">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Valor Total</label>
                    <input type="text" class="form-control" id="txtOsValor" value="0">
                </div>
            </div>
        -->
          <div class="d-flex justify-content-center gap-1">
                <button type="button" class="btn btn-success">Gerar OS</button>
                <button type="button" class="btn btn-primary">Buscar OS</button>
                <button type="button" class="btn btn-warning">Editar OS</button>
                <button type="button" class="btn btn-danger">Excluir OS</button>
                <button type="button" class="btn btn-secondary">Imprimir OS</button>
        </form>
    </div>

      <!-- Bootstrap -->
      <script src="../public/js/bootstrap.min.js"></script>
      <script src="../public/js/script.js"></script>
        
</body>
</html>