<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hatsune Miku Costura - Sobre</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
     <!--css personalizado-->
     <link rel="stylesheet" href="../public/css/style2.css">
     <!--Impedir a execução de scripts externos ou não autorizados-->
     <meta http-equiv="Content-Security-Policy" content="script-src 'self'">
</head>
<body>
    <div class="container">
        <h1>Hatsune Miku Costura</h1>
        <p>Sistema para emissão de OS</p>
        <p>Author: Ryan Rodrigues</p>
        <a href="https://pt.wikipedia.org/wiki/Hatsune_Miku" target="_blank"><p>Conheça a Hatsune Miku</p></a>
        <p>sob a licença MIT</p>
    </div>
    <!--bootstrap-->
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>