@charset "utf-8";

/*Botões da tela principal*/
.button img{
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    height: 80px;
    width: 80px;
}

footer {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #0078d7;
    position: fixed;
    bottom: 0;
}

footer p{
    color: #ffffff;
    padding-top: 10px;
    font-size: 4vh;
}

/*#dataAtual {
    font-size: 4vh;

}*/